@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.hero {
  width: 100%;
  height: 120vh;
  position: relative;
  font-size: medium;
  color: #e9e9f0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo {
  max-height: 150px;
  width: 200px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0 1rem;
}

nav ul li a {
  color: #e9e9f0;
  position: relative;
  padding: 0.5rem 1rem;
}

nav ul li a:hover {
  color: #fd4766;
}

nav ul li a:after {
  content: "";
  position: absolute;
  left: 10px;
  width: 0;
  height: 3px;
  background: #fd4766;
  transition: 0.3s;
  bottom: 0;
}

nav ul li a:hover:after {
  width: 100%;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.product-item {
  width: 20%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: filter 0.3s ease;
}

.product-title {
  margin-top: 1rem;
  color: #e8e1e1;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.product-item {
  margin-top: 0.5rem;
  color: #e3dcdc;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .product-item {
    width: 33.33%;
  }
}

@media (max-width: 992px) {
  .product-item {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .hero {
    height: auto;
  }

  nav {
    flex-direction: column;
    padding: 1rem;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .product-item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .product-title {
    font-size: 1.2rem;
  }

  .product-price {
    font-size: 1rem;
  }
}